.main{
    margin:10% 40%;
    width: 250px;
    text-align: center;
    padding: 10px;
    background-color: rgb(37, 37, 37);
}


.display{
    height: 2.5rem;
    width: 85%;
    background-color: #7f8b3a;
    font: 1.5rem roboto;
    color: rgb(20, 20, 20);
    text-align: right;
    margin-top:1px ;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 7px 15px;
}
.button{
    border: 1px solid black;
    height: 1.5rem;
    font: 1em sans-serif;
    text-align: center;
    padding: 2px;
    background-color: rgb(207, 202, 202);
}

.header{
    display: inline-block;
    text-align: left;
    padding: 2px;
    font: 1.2em "Lucida Console", monospace;
    color: rgb(207, 202, 202);
    width: 85%;
}